body {
  margin: 0;
  top: 0;
  margin-top: 0;
  font-family: "Poppins", sans-serif;
}

/* Tony Hadders */
header {
  background: #1b1c1e;
  height: 111px;
  left: 430px;
  right: 434px;
  top: 0px;
}
/* R4 - Poppins */

h1 {
  font-style: italic;
  color: whitesmoke;
  font-weight: 600;
  font-size: 40px;
  line-height: 111px;
  margin-top: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  /* identical to box height */

  mix-blend-mode: color-dodge;
  /* flex: auto;
  height: auto;
  width: auto;
  padding: 30px;
  background-color: #1b1c1e;
  */
}

a {
  width: 50%;
  height: 100vh;
}

p {
  color: orange;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

section {
  padding: 10px;
  background-color: aquamarine;
  display: flex;
  flex-direction: row;
}

.box1 {
  background-color: brown;
  width: 100%;
  height: 100vh;
}

.box2 {
  background-color: rgb(133, 49, 166);
  width: 100%;
  height: 100vh;
}
.bodybox {
  display: flex;
}
